body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .my-stopwatch {
        // background: green;
        padding: 10px;
        margin-top: 20px;
        width: fit-content;

        .stopwatch-time {
            // background: yellow;
            text-align: center;
        }

        .stopwatch-button {
            width: 100%;
        }
    }
}
